<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>Login V6</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--===============================================================================================-->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <!--===============================================================================================-->	
        <link rel="icon" type="image/png" th:href="@{/images/logo_32x32.png}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/util.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/main.css}">
        <!--===============================================================================================-->
    </head>
    <body>

        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-t-85 p-b-20">
                    <form class="login100-form validate-form" th:action='@{/admin/login}' method="post">
                        <span class="login100-form-title p-b-70">
                            ADMIN LOGIN
                        </span>
                        <span class="login100-form-avatar">
                            <img src="images/admin.png" alt="AVATAR">
                        </span>

                        <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter email">
                            <input class="input100" type="email" name="email">
                            <span class="focus-input100" data-placeholder="Email"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                            <input class="input100" type="password" name="password">
                            <span class="focus-input100" data-placeholder="Password"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:inline='javascript'>
            $(document).ready(function (e) {
                /*<![CDATA[*/
                var msg = /*[[${msg}]]*/;
                /*]]>*/
                if (msg !== null) {
                    alert(msg);
                }
            })
        </script>
        <script type="text/javascript">
                    (function ($) {
                        "use strict";


                        /*==================================================================
                         [ Focus input ]*/
                        $('.input100').each(function () {
                            $(this).on('blur', function () {
                                if ($(this).val().trim() != "") {
                                    $(this).addClass('has-val');
                                } else {
                                    $(this).removeClass('has-val');
                                }
                            })
                        })


                        /*==================================================================
                         [ Validate ]*/
                        var input = $('.validate-input .input100');

                        $('.validate-form').on('submit', function () {
                            var check = true;

                            for (var i = 0; i < input.length; i++) {
                                if (validate(input[i]) == false) {
                                    showValidate(input[i]);
                                    check = false;
                                }
                            }

                            return check;
                        });


                        $('.validate-form .input100').each(function () {
                            $(this).focus(function () {
                                hideValidate(this);
                            });
                        });

                        function validate(input) {
                            if ($(input).attr('type') == 'email' || $(input).attr('name') == 'email') {
                                if ($(input).val().trim().match(/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$/) == null) {
                                    return false;
                                }
                            } else {
                                if ($(input).val().trim() == '') {
                                    return false;
                                }
                            }
                        }

                        function showValidate(input) {
                            var thisAlert = $(input).parent();

                            $(thisAlert).addClass('alert-validate');
                        }

                        function hideValidate(input) {
                            var thisAlert = $(input).parent();

                            $(thisAlert).removeClass('alert-validate');
                        }


                    })(jQuery);
        </script>
    </body>
</html>