<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" sizes="76x76" href="/images/logo_32x32.png">
        <title>Admin - TRAVEL ToVN</title>
        <script type="text/javascript">
            if (typeof jQuery == 'undefined')
                document.write(unescape("%3Cscript src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- Custom styles for this template -->
        <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div ><img height="50px" width="50px" th:src="@{/images/logo2_1200x1200.png}"/> TRAVEL ToVN</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <div layout:fragment="sidebar-link">

                </div>

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


                        <!-- Topbar Search -->
                        <button style="height: 35px;border: 1px solid;border-radius: 8px;background: #8AC96F;color: white" id="createButton">Create</button>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">
                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="img-profile rounded-circle" th:src="@{/images/admin.png}"> 
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="font-weight: bold;margin-left: 2%"><span th:text="${user}"></span></span>
                                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#logoutModal">Logout</button>
                                </a>
                            </li>

                        </ul>

                    </nav>
                    <!-- End of Topbar -->

                    <!-- The Modal Delete -->
                    <div   class="modal" id="logoutModal"  tabindex="9999" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog"  role="document" >
                            <div class="modal-content" style="border-collapse: separate;border-radius: 15px" id="logout">
                                <form th:action="@{/admin/logout}" method="get">
                                    <div class="modal-header">
                                        <h3 style="color:#76C06C">Logout</h3>
                                    </div>
                                    <div class="modal-body" >
                                        <p style="color:#76C06C">You are about to log out.</p>
                                        <p style="color:#76C06C">Do you want to proceed?</p>
                                        <p></p>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" style="width:50px;color:white;text-align:center;padding:5px;background-color:red;border: none" value="Yes"/>
                                        <a href="#" data-dismiss="modal" style="width:50px;color:white;text-align:center;padding:5px;background-color:gray">No</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--End Modal Logout-->

                    <!-- Begin Page Content -->
                    <div class="container-fluid" layout:fragment="content">
                        <!-- DataTales Example -->


                    </div>
                    <div layout:fragment="modal">

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; TRAVEL ToVN 2019</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>



        <!-- Bootstrap core JavaScript-->
        <!--<script src="/vendor/jquery/jquery.min.js"></script>-->
        <!--<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

        <!-- Core plugin JavaScript-->
        <!--<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>-->

        <!-- Custom scripts for all pages-->
        <!--<script src="/js/sb-admin-2.min.js"></script>-->

        <!--Page level plugins--> 
        <!--<script src="/vendor/jquery.dataTables.min.js"></script>-->
        <script src="/vendor/dataTables.bootstrap4.min.js"></script>

        <!--Page level custom scripts--> 
        <!--<script src="/js/datatables-demo.js"></script>-->
        <script>

    $(document).ready(function () {
//                $('#dataTable').DataTable().destroy();
        // Setup - add a text input to each footer cell
        $('#dataTable tfoot th').each(function () {
            var title = $(this).text();
            if (title === "Active" || title === "Tour Image Cover" || title === "Action" || title === "Number of ratings" || title === "Rating Average" || title === "Description" || title === "Summary" ||
                    title === "Image") {
                $(this).html('');
            } else {
                $(this).html('<input type="text" style="color:#76C06C;width: auto display: inline;width: 100%;height: 100%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;border: none;" placeholder="Search ' + title + '" />');
            }
            ;

        });
        // DataTable
        var table = $('#dataTable').DataTable(
                {
                    initComplete: function () {
                        // Apply the search
                        this.api().columns().every(function () {
                            var that = this;

                            $('input', this.footer()).on('keyup change clear', function () {
                                if (that.search() !== this.value) {
                                    that
                                            .search(this.value)
                                            .draw();
                                }
                            });
                        });
                    }
                });
    });
        </script>
    </body>

</html>
